<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.example.grzegorz.drugcon.blank.Login" />
        <activity android:name="com.example.grzegorz.drugcon.blank.MenuAcc" />
        <activity android:name="com.example.grzegorz.drugcon.presentation.view.blank.blank.List" />
        <activity android:name="com.example.grzegorz.drugcon.presentation.blank.List" />
        <activity android:name="com.example.grzegorz.drugcon.blank.List" />
        <activity android:name="com.example.grzegorz.drugcon.blank.Alarm" />
        <activity android:name="com.example.grzegorz.drugcon.ui.activity.blank.blank.Search" />
        <activity android:name="com.example.grzegorz.drugcon.blank.Search" />
        <activity android:name="com.example.grzegorz.drugcon.blank.Settings" />
    </application>

</manifest>